@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dynamic Navigation System Project</h1>
    <p>Project Done by Shan Virani</p>
    <p>View my Resume<a href="https://shanvirani12.github.io/">Click Here</a></p>
</div>
